<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Username: </ion-label>
      <ion-input type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password: </ion-label>
      <ion-input type="password" [(ngModel)]="user.pw"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button fill="full" (click)="loginUser()">Login</ion-button>
</ion-content>
